@using EducationalCenter.Common.Enums
@model EducationalCenter.Common.Dtos.Teacher.TeacherFullInfoDTO

@{
}

<h2>Create new teacher: </h2>

@using (Html.BeginForm("Edit", "Teacher", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.ValidationSummary()

<fieldset>
    <legend>Teacher</legend>

    <div class="form-group">
        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.FirstName)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.LastName)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.DateOfBirth, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.DateOfBirth, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.DateOfBirth)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.EMail, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.EMail, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.EMail)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.PhoneNumber)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Category, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.Category, new SelectList(Enum.GetValues(typeof(Category))), new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Formation, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.Formation, new SelectList(Enum.GetValues(typeof(Formation))), new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Experience, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Experience, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Experience)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Salary, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Salary, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Salary)
        </div>
    </div>

    <p>
        <input type="submit" value="Save" />
    </p>

</fieldset>

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
}

