@model IEnumerable<EducationalCenter.Common.Dtos.Teacher.TeacherDTO>

@{
}

<h2>Teachers: </h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Formation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Experience)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FIO);
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth);
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.Name);
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Formation);
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category);
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Experience);
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>