@using EducationalCenter.Common.Enums
@model EducationalCenter.Common.Dtos.Student.StudentFullInfoDTO
@{
}

<h2>Edit the student: </h2>

@using (Html.BeginForm("Edit", "Student", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
{
    @Html.ValidationSummary()

    <fieldset>
        <legend>Student</legend>
        @Html.HiddenFor(m => m.Id);

        <div class="form-group">
            @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FirstName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.LastName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.DateOfBirth, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.DateOfBirth, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.DateOfBirth)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Group, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Group, new SelectList(Enum.GetValues(typeof(Faculty))), new { @class = "form-control" })
            </div>
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}