@model EducationalCenter.Common.Dtos.Student.StudentFullInfoDTO
@{
    ViewData["Title"] = "Student " + Model.LastName;
}

@using (Html.BeginForm("Edit", "Student", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.ValidationSummary()

    <fieldset>
        <legend>@ViewData["Title"]</legend>
        @Html.HiddenFor(m => m.Id);

        <div class="form-group">
            @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FirstName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.LastName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.DateOfBirth, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.DateOfBirth, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.DateOfBirth)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Group, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.GroupId, new SelectList(ViewBag.Groups, "Id", "Title"), new { @class = "form-control" });
            </div>
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
}